* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: #161616;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
}

.left h1 {
    font-size: 2.5rem;
    cursor: pointer;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: #161616;
}

main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #9f8cac;
    color: white;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(odd){
    color: #e0ffff;
    background: #9f8cac;
}

section:nth-child(even){
    color: #fff;
    background: #161616;
}

.container:nth-child(odd){
    background: transparent;
}

.container:nth-child(even){
    background: #161616;
}

section .container{
    margin: 100px;
    padding: 10%;
    border-radius: 30px;
}

section h1{
    font-size: 3rem;
    margin: 20px;
}

section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: #161616;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

    section h1{
        font-size: 2rem;
        
    }

    section .tex-container{
        flex-direction: column;
    }

}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.p-container {
    margin-top: 5%;
}

.p-container p {
    text-align: center;
}

footer {
    background: #9f8cac;
    color:#2f4b52;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
    color: #ffb870;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 18px;
}

img {
    width: 40px;
    height: 40px;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li a {
    color: #2f4b52;
    font-size: 30px;
}

@media (max-width: 991px) {
    .col-md-4{
        flex: 0 0 50%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
